[submodule "libs/tree-sitter"]
	path = libs/tree-sitter
  url = https://github.com/tree-sitter/tree-sitter.git
  ignore = dirty
[submodule "libs/tree-sitter-c"]
	path = libs/tree-sitter-c
  url = https://github.com/tree-sitter/tree-sitter-c
  ignore = dirty
[submodule "libs/tree-sitter-ruby"]
	path = libs/tree-sitter-ruby
  url = https://github.com/tree-sitter/tree-sitter-ruby.git
  ignore = dirty
[submodule "libs/libgrapheme"]
	path = libs/libgrapheme
  url = https://git.suckless.org/libgrapheme
  ignore = dirty
